@font-face {
    font-family: 'Conduit';
    src: url("fonts/Conduit-ITC-Std-Font.otf");
}

*{
    font-family: 'Conduit', sans-serif;
    margin: 0;
}

html {
  overflow-x: hidden;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body .hidden{
    display: none;
}

ul li{
    margin-top: 16px;
}

/*==================[ CARD SETUP ]==================*/
.cards{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.card-container{
    width: 300px;
    height: 300px;
}

.card{
    position: relative;
    background-color: rgb(230, 229, 229);
    border: 2px solid rgb(215, 215, 215);
    border-radius: 10%; 
    cursor:pointer;
    width: 100%;
    height: 100%;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}

.card-cover, .card-contents{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.card-flipped{
    transform: rotateY(180deg);
}


/*==================[ HEADER ]==================*/
#label{
    background-image: url("images/Judo.jpg");
}

.page-label{
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    color:white;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 3fr 2fr;
    text-align: center;
    place-items: center;
    flex: 100%;
}

h6{
    cursor: pointer;
    align-content: center;
    display: block;
    background: none;
    border: 5px solid white;
    font-size: 35px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

h4 {
    margin-top: 16px;
    font-size: 18px;
}

.interactive-section button strong{
    margin-top: 16px;
    font-size: 18px;
}

.menu {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    background: none;
    color: white;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.page .hidden{
    opacity: 0;
    transform: translateY(25px);
}

.page .show{
    opacity: 1;
    transform: translateY(0px);
}

/*==================[ FOOTER ]==================*/

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 200px;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 10fr 1fr;
}

footer .credit{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 15px;
}

footer .location{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

footer .qr-code{
    display: none;
}

footer .full-screen{
    display: none;
}

footer .exit-full-screen{
    display: none;
}

/*==================[ MAIN ]==================*/
.pages {
    line-height: 1.75;  
    margin-left: 20px;
    margin-right: 20px;
}

.page{
    background: none;
    padding: 16px;
    margin: 16px 0;
    border-radius: 10px;
    transition: all 0.5s;
}

.page p { /* Different paragraphs */
    margin-top: 16px;
}

.page ul p{ /* For every paragraph in a point of a list */
    margin-top: 0;
}

#history a {
    text-decoration: underline;
    cursor: pointer;
}

/*==================[ TECHNIQUES ]==================*/
#technique-layout{
    display:grid;
    align-items: center;
    background: none;
    width: 100%;
    height: 600px;
    grid-template-rows: 5fr 1fr 6fr;
    grid-template-columns: 1fr 7fr 1fr;

    overflow: hidden;
}

#technique-layout #previousBtn{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#technique-layout #nextBtn{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#technique-layout button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
    margin: 10px;
    transition: background-color 0.1s ease;
}

#technique-layout button:hover{
    background-color: rgb(183, 183, 183);
}

#previousBtn, #nextBtn{
    background-image: url("images/arrows.png");
    background-size: 64px 32px;
    width: 32px;
    height: 32px;
}

#previousBtn {
    background-position: 32px 0px;
}

#technique-layout.hidden{
    display:none;
}

#technique-container {
    position: relative;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    
    width: 100%;
    height: 100%;

    background:none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.technique{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 5fr 1fr 6fr;
    align-items: center;
    justify-items: center;

    transform: translateX(100%);
}


.technique .photo{
    grid-row: 1 / 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technique .photo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.technique .name{
    grid-row: 2 / 3;
}


.technique .desc{
    grid-row: 3 / 4;
    height: 100%;
    text-align: center;
    overflow: scroll;
}

.technique.moveLeftToCenter{
    animation: moveTechniqueLeftToCenter 1s forwards;
    animation-timing-function: ease;
}

.technique.moveCenterToRight{
    animation: moveTechniqueCenterToRight 1s forwards;
    animation-timing-function: ease;
}

.technique.moveCenterToLeft{
    animation: moveTechniqueLeftToCenter 1s forwards;
    animation-timing-function: ease;
    animation-direction: reverse;
}

.technique.moveRightToCenter{
    animation: moveTechniqueCenterToRight 1s forwards;
    animation-timing-function: ease;
    animation-direction: reverse;
}

@keyframes moveTechniqueLeftToCenter {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes moveTechniqueCenterToRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

#btnSubmit, #scorebox{
    width: 100px;
    height: 30px;
    font-size: 17px;
    display: block;
    margin: 20px auto;
    text-align: center;
}

/*==================[ SPARRING ]==================*/
#randori-types, #randori-mistakes{
    border: 1px solid #ccc;
    margin-top: 16px;
    background-color: #f9f9f9;
    border-radius: 3px;
    
}

#randori-types button, #randori-mistakes button{
    text-align: left;
    padding: 5px 15px;
    background: none;
    border: none;
    background-color: #e9e9e9;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

#randori-types h4, #randori-mistakes h4{
    margin: auto;
}

/*==================[ COMPETITION ]==================*/
.point-reasons ul li{
    margin-top: 10px;
}

#scoring, #penalties{
    border: 1px solid #ccc;
    margin-top: 16px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

#scoring button, #penalties button{
    text-align: left;
    padding: 5px 15px;
    background: none;
    border: none;
    background-color: #e9e9e9;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

/*==================[ GAME ]==================*/
#game{
    text-align: center;
}

#game-window{
    max-width: 300px;
    height: 425px;
    background-color: lightgrey;
    margin: auto auto;
}

#game-start-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#game-start-btn{
    font-size: 20px;
    width: 50%;
    height: 15%;
    border: 2px solid black;
    cursor: pointer;
}

#game .hidden{
    display: none;
}

#ongoing-game{
    position: relative;
    display: grid;
    grid-template-rows: 2fr 2fr 12fr 2fr 4fr 1fr;

    height: 100%;
    width: 100%;

    align-items: center;
    justify-items: center;
}

#game-status{
    font-size: 20px;
    padding: 10px;
    grid-row: 2 / 3;
}

#status-image{
    position: absolute;
    grid-row: 3 / 4;
    width: 50%;
    height: 90%;
}

#opponent-entry, #opponent-win, #player-counter, #player-win, #opponent-counter{
    background-image: url("images/game-images.png");
    background-size: 500% 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#opponent-win{
    background-position: 0 0;
}

#player-win{
    background-position: 25% 0;
}

#opponent-entry{
    background-position: 50% 0;
}

#player-counter{
    background-position: 75% 0;
}

#opponent-counter{
    background-position: 100% 0;
}




#play-again-container{
    position: absolute;
    grid-row: 4 / 5;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#play-again{
    width: 100px;
    height: 80%;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    z-index: 2;
}

#round-options{
    grid-row: 5 / 6;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#round-options button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor:pointer;
}

#reaction-test{
    grid-row: 5 / 6;
    background-color: rgb(180, 0, 0);
    width: 90%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

#counter-test{
    grid-row: 5 / 6;
    background-color: black;
    width: 90%;
    height: 100%;
    cursor:pointer;
    position: relative;
}

#counter-line{
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: red;
    z-index: 2;
}

#counter-range{
    position: absolute;
    height: 100%;
    width: 20px;
    background-color: white;
}

#aim-trainer{
    position: absolute;
    grid-row: 3 / 6;
    background: none;
    border:none;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 5fr 1fr;
}

#aim-trainer-window{
    grid-row: 1 / 2;
}

#aim-trainer-target{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}

#aim-text{
    grid-row: 2 / 3;
    font-size: 18px;
}

#aim-text p{
    margin: auto auto;
}



/*==================[ DESKTOP ]==================*/
@media (min-width: 800px) {
    h6{
        font-size: 100px;
    }

    h4 {
        font-size: 20px;
    }

    footer {
        height: 150px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        align-items: center;
        position: relative;
    }

    footer .credit{
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        font-size: 15px;
    }

    footer .location{
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }

    footer .qr-code{
        display: block;
        grid-row: 1 / 4;
        grid-column: 3 / 4;
        width: 100px;
        margin: 0 auto;
    }

    #qrCodeImg {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    footer .full-screen, footer .exit-full-screen{
        display: none;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        margin: 0 auto;
        width: 100px;
    }

    #full-screen-icon, #exit-full-screen-icon{
        color: white;
        width: 100%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
        display:block;
    }

    footer .showIcon{
        display: block;
    }




    /*==================[ HEADER ]==================*/
    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .menu a {
        padding: 20px;
        color: white;
        text-decoration: none;
        font-size: 25px;
    }

    /*==================[ MAIN ]==================*/
    .pages {
        min-width: 700px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .page{
        font-size: 20px;
    }

    /*==================[ COMPETITION ]==================*/
    #competition #comp-contents{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}